@import url("../main.css");

header input {
	text-align: center;
}

main section.video {
	width: 100%;
	height: 100%;

	background: linear-gradient(0deg, #8885, #888A);
}

body[fullscreen="false"] main section.video {
	position: sticky;

	max-width: 80dvw;
	max-height: 80dvh;

	border-radius: 0.3rem;

	overflow: hidden;
}

body[fullscreen="true"] main section.video {
	position: fixed;
	top: 0;
	left: 0;

	background: #000;
}

body[fullscreen="true"] header {
	display: none;
}

main section.video video {
	display: block;

	width: 100%;
	height: 100%;
}

/* section.controls {
	--gap: 0.2rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--gap);

	position: absolute;
	bottom: var(--gap);
	left: var(--gap);

	width: calc(100% - var(--gap) * 2);
}

main section.controls button {
	display: block;

	width: 1.5rem;
	height: 1.5rem;

	min-width: 1.5rem;
	min-height: 1.5rem;

	font-size: 0.8rem;

	backdrop-filter: var(--backdrop-blur);

	padding: 0;
}

main section.controls button svg {
	margin: auto;
}

main section.controls div.slider {
	width: 5rem;
}

main section.controls div.space {
	width: 100%;
} */