@import url("https://rsms.me/inter/inter.css");

* {
	--background: #F0F0F0;
	--text-color: #000;
	--transparent-gray: rgba(127, 127, 127, 0.2);
	--font: "Inter", "Avenir Next", Avenir, Arial, Futura;
	
	appearance: none;
	-webkit-user-drag: none;
	user-select: none;

	box-sizing: border-box;
	outline: none;

	margin: 0;
	padding: 0;
}

@media (prefers-color-scheme: dark) {
	* {
		--background: #222;
		--text-color: #FFF;
	}
}

body {
	background: var(--background);

	color: var(--text-color);
	font-family: var(--font);
}

input {
	background: none;

	color: var(--text-color);
	font-family: var(--font);

	border: none;
}

input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

.icon {
	fill: currentColor;

	width: 1em;
	height: 1em;

	vertical-align: -.125em;
}

header,
footer {
	align-items: center;

	position: fixed;
	left: 0;

	width: 100%;

	background: var(--background);

	padding: 0.3rem;
}

header {
	display: flex;
	justify-content: space-between;

	top: 0;

	height: 2rem;
}

header>img.logo,
header>div.profile>img.logo {
	display: block;

	width: 1.5rem;
	height: 1.5rem;
}

header>input#search {
	display: block;

	width: 100%;

	text-align: center;

	border-radius: 0.25rem;

	transition: background 0.1s linear;

	cursor: pointer;
}

header>div.search>input#search:hover {
	background: var(--transparent-gray);
}

header>div.search>input#search:focus {
	background: var(--transparent-gray);

	cursor: text;
}

header>div.profile>img.logo {
	border-radius: 1.5rem;
}

footer {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-rows: 100%;
	grid-auto-flow: column dense;

	bottom: 0;

	height: 3rem;
}

footer>button {
	width: fit-content;

	background: var(--background);

	color: var(--text-color);

	border: none;

	margin: auto;
	padding: 0.25rem;
}

footer>button.selected {
	color: #F00;
}

footer>button:not(.selected) {
	border-radius: 0.25rem;

	transition: background 0.1s linear;

	cursor: pointer;
}

footer>button:not(.selected):hover {
	background: var(--transparent-gray);
}