@import url("https://rsms.me/inter/inter.css");

* {
	--background: #F0F0F0;
	--text-color: #000;
	--transparent-gray: rgba(127, 127, 127, 0.2);
	--font: "Inter", "Avenir Next", Avenir, Arial, Futura;

	appearance: none;
	-webkit-user-drag: none;
	user-select: none;

	box-sizing: border-box;
	outline: none;

	margin: 0;
	padding: 0;
}

@media (prefers-color-scheme: dark) {
	* {
		--background: #222;
		--text-color: #FFF;
	}
}

body {
	background: var(--background);

	color: var(--text-color);
	font-family: var(--font);
}