@import url("https://rsms.me/inter/inter.css");

* {
	--background: #F0F0F0;
	--text-color: #000;
	--transparent-gray: rgba(127, 127, 127, 0.2);
	--font: "Inter", "Avenir Next", Avenir, Arial, Futura;

	appearance: none;
	-webkit-user-drag: none;
	user-select: none;

	box-sizing: border-box;
	outline: none;

	margin: 0;
	padding: 0;
}

@media (prefers-color-scheme: dark) {
	* {
		--background: #222;
		--text-color: #FFF;
	}
}

body {
	display: grid;
	grid-template-columns: auto;
	grid-auto-rows: auto;
	grid-auto-flow: row dense;

	background: var(--background);

	color: var(--text-color);
	font-family: var(--font);
}

body>div.process {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 3rem 4rem;
	gap: 0.25rem;

	padding: 0.5rem;
}

body>div.process>header {
	grid-row: 1;
	grid-column: 1;

	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto auto;
	gap: 0.25rem;

	width: 100%;
	height: 3rem;
}

body>div.process>header>img.cover {
	grid-row: 1 / 3;
	grid-column: 1;

	max-height: 3rem;

	border-radius: 0.1rem;
}

body>div.process>header>div.title,
body>div.process>header>div.channel {
	grid-column: 2;

	text-overflow: ellipsis;
	white-space: nowrap;

	overflow: hidden;
}

body>div.process>header>div.title {
	grid-row: 1;
}

body>div.process>header>div.channel {
	grid-row: 2;

	opacity: 0.8;
}

body>div.process>header>div.quality {
	grid-row: 3;
	grid-column: 1 / 3;

	opacity: 0.5;
}